body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  background-color: rgb(200, 209, 220);
}

.color-form {
  padding: 1rem;
}

.color-form-list {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}
